@{
    ViewData["Title"] = ViewBag.movie.Title;
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <a href="https://www.imdb.com/title\@ViewBag.movie.Imdb_id"><img src="https://image.tmdb.org/t/p/original\@ViewBag.movie.Poster_path" width="350" class="img-thumbnail" /></a>
    @if (ViewBag.movie.Release_date == "")
    {
        <p>Release Date: N/A </p>
    }
    else
    {
        <p>Release Date: @ViewBag.movie.Release_date</p>
    }

    <p class="box-shadow">@ViewBag.movie.Overview</p>
    <button id="like" title="Thumbs Up">👍</button>
    <button id="dislike" title="Thumbs Down">👎</button>
    <button id="addToList" title="Add to WatchList">👀</button>
    <br /><a href="/movie/@ViewBag.movie.Id/similar">Find similar movies</a>
</div>
