@{
    ViewData["Title"] = "About Page";
}
<h1 class="display-3">@ViewData["Title"]</h1>
<div class="p-xl-5">
    <p>Reduce time spent searching for movies to put on. Find something for a night in or for a night out at the movies. Find something brand new or something with a familiar feel. <br /> 
        Create an account to gain access to a personal recommendation list based on your liked/disliked movies.</p>

    <p> Simply press <button id=like title="Thumbs Up">👍</button> on movies that you enjoyed and <button id="dislike" title="Thumbs Down">👎</button> for movies you did not.
</div>
